Sample_code/20170903_to_bto-ラズロボカー/soft/node-red.txt
[{"id":"fa672094.631bc","type":"mqtt in","z":"a93e5fd8.fe827","name":"In-ch07","topic":"In-ch07","qos":"2","broker":"d92c0a3b.78f2a8","x":234.99993896484375,"y":113.66666412353516,"wires":[["94956aeb.f219a8","5f673503.36019c"]]},{"id":"94956aeb.f219a8","type":"debug","z":"a93e5fd8.fe827","name":"","active":false,"console":"false","complete":"true","x":273.9999351501465,"y":156.99999904632568,"wires":[]},{"id":"ef33c490.0b8a98","type":"json","z":"a93e5fd8.fe827","name":"","x":623.9999084472656,"y":114.66674995422363,"wires":[["58fcda03.196d74","a9ea9c78.75e41"]]},{"id":"58fcda03.196d74","type":"debug","z":"a93e5fd8.fe827","name":"","active":false,"console":"false","complete":"true","x":610.9999084472656,"y":160.00008583068848,"wires":[]},{"id":"30a142f1.e645be","type":"comment","z":"a93e5fd8.fe827","name":"2017/7/23 11:39:1758d9dd9e.d7d484 In-ch0-7 : msg : Object { \"topic\": \"In-ch0-7\", \"payload\": \"[{'ch0': 4094.0, 'ch1': 0.0}]\", \"qos\": 2, \"retain\": false, \"_topic\": \"In-ch0-7\", \"_msgid\": \"34437096.cbbc9\" }","info":"","x":635,"y":67.66666030883789,"wires":[]},{"id":"5f673503.36019c","type":"function","z":"a93e5fd8.fe827","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":453.99996757507324,"y":110,"wires":[["9ab8b497.423bc8","ef33c490.0b8a98"]]},{"id":"9ab8b497.423bc8","type":"debug","z":"a93e5fd8.fe827","name":"","active":true,"console":"false","complete":"true","x":418.99993896484375,"y":157.66674041748047,"wires":[]},{"id":"b54612f6.ddd4c","type":"mqtt out","z":"a93e5fd8.fe827","name":"Out-ch0-7","topic":"Out-ch0-7","qos":"","retain":"","broker":"d92c0a3b.78f2a8","x":1181.9999084472656,"y":119.66666412353516,"wires":[]},{"id":"d05e2d60.400cf","type":"inject","z":"a93e5fd8.fe827","name":" \"In-ch0-7\", ","topic":" \"In-ch0-7\", ","payload":"{ \"topic\": \"In-ch07\", \"payload\": { \"ch1\": 0, \"ch0\": 0 }, \"qos\": 2, \"retain\": false}","payloadType":"json","repeat":"","crontab":"","once":false,"x":811.9999389648438,"y":169.33333587646484,"wires":[["b200671b.443ab8","b54612f6.ddd4c"]]},{"id":"b200671b.443ab8","type":"debug","z":"a93e5fd8.fe827","name":"","active":true,"console":"false","complete":"false","x":1009.9998779296875,"y":180.33339595794678,"wires":[]},{"id":"a9ea9c78.75e41","type":"delay","z":"a93e5fd8.fe827","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":857.9999389648438,"y":121.3333969116211,"wires":[["b54612f6.ddd4c","f76d641b.315868"]]},{"id":"ff9d13cf.e320b","type":"inject","z":"a93e5fd8.fe827","name":" \"In-ch0-7\", ","topic":" \"In-ch0-7\", ","payload":"{ \"topic\": \"In-ch07\", \"payload\": \"{\\\"ch6norm\\\": 0, \\\"ch3\\\": 4094.0, \\\"ch1\\\": 0.0, \\\"ch7norm\\\": 0, \\\"ch0\\\": 0.0, \\\"ch5\\\": 4095.0, \\\"ch4\\\": 4095.0, \\\"ch7\\\": 346.0, \\\"ch2\\\": 0.0, \\\"ch6\\\": 130.0}\", \"qos\": 2,}","payloadType":"json","repeat":"","crontab":"","once":false,"x":791.4331665039062,"y":256.5998992919922,"wires":[["268d29a.0aaddd6","b54612f6.ddd4c"]]},{"id":"268d29a.0aaddd6","type":"debug","z":"a93e5fd8.fe827","name":"","active":true,"console":"false","complete":"false","x":1014.43310546875,"y":267.5999593734741,"wires":[]},{"id":"f76d641b.315868","type":"mqtt out","z":"a93e5fd8.fe827","name":"Out-ch0-7","topic":"Out-ch0-7","qos":"","retain":"","broker":"e955fbf9.b7ef68","x":1179.6666259765625,"y":363.9999898672104,"wires":[]},{"id":"d92c0a3b.78f2a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e955fbf9.b7ef68","type":"mqtt-broker","z":"","broker":"pirobo40.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]