Sample_code/20171008_to_bto-カムロボカー/soft/raz-robo/node-red/flows_pirobo20.json
[{"id":"56387f0a.a981a","type":"tab","label":"システム管理"},{"id":"7420b7d3.a25fa8","type":"tab","label":"ロボットカー"},{"id":"db756c4a.aee6c","type":"tab","label":"しゃべる時計"},{"id":"9fc8e60e.bd10a8","type":"tab","label":"ﾊｲﾊﾟｰ実験室"},{"id":"5e1ada08.f16a74","type":"tab","label":"mqtt"},{"id":"e6664df9.eab4d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"14f48982.3705e6","type":"ui_group","z":"","name":"しゃべる時計","tab":"e6664df9.eab4d","disp":true,"width":"6"},{"id":"678d83f4.129f7c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ff8c23eb.314d5","type":"ui_group","z":"","name":"robot","tab":"e6664df9.eab4d","order":1,"disp":true,"width":"6"},{"id":"e334046a.ca9e28","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"22f9798d.684896","type":"debug","z":"56387f0a.a981a","name":"","active":false,"console":"false","complete":"false","x":422.8411560058594,"y":572.5555114746094,"wires":[]},{"id":"9e1e1361.22f96","type":"exec","z":"56387f0a.a981a","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"","name":"sudo shutdown -h now","x":424.8411407470703,"y":626.0555419921875,"wires":[[],[],[]]},{"id":"127650dc.3e1a0f","type":"debug","z":"56387f0a.a981a","name":"","active":false,"console":"false","complete":"false","x":453.84117126464844,"y":126.55560302734375,"wires":[]},{"id":"b892b726.e85008","type":"inject","z":"56387f0a.a981a","name":"every 1sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":132.8411865234375,"y":403.55548095703125,"wires":[["429193bc.37b0dc"]]},{"id":"429193bc.37b0dc","type":"function","z":"56387f0a.a981a","name":"0/1","func":"context.set ('leddat',context.get('leddat'));\nvar dat;\nif (context.get('leddat')== '0') {\n    dat = '1';\n}else{\n    dat='0';\n}\ncontext.set('leddat',dat);\nglobal.set('gleddat',dat);\nmsg.payload=dat;\nreturn msg;","outputs":1,"noerr":0,"x":291.84117126464844,"y":400.55548095703125,"wires":[["c0619660.de1358","5e352735.802dc8"]]},{"id":"c0619660.de1358","type":"debug","z":"56387f0a.a981a","name":"","active":false,"console":"false","complete":"false","x":475.84117126464844,"y":403.55548095703125,"wires":[]},{"id":"b50c4887.4a3408","type":"inject","z":"56387f0a.a981a","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":135.6814727783203,"y":192.52081298828125,"wires":[["33e9edba.f0f002"]]},{"id":"c7f991c1.c5079","type":"inject","z":"56387f0a.a981a","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":135.67453002929688,"y":250.52777099609375,"wires":[["33e9edba.f0f002"]]},{"id":"33e9edba.f0f002","type":"debug","z":"56387f0a.a981a","name":"","active":true,"console":"false","complete":"false","x":469.6710662841797,"y":247.87847900390625,"wires":[]},{"id":"de670c4.3e937f","type":"comment","z":"56387f0a.a981a","name":"DI","info":"","x":142.6745147705078,"y":44,"wires":[]},{"id":"e4744620.a51db8","type":"comment","z":"56387f0a.a981a","name":"DO","info":"","x":462.6745147705078,"y":287.9930419921875,"wires":[]},{"id":"c526701c.4fa79","type":"comment","z":"56387f0a.a981a","name":"システム管理　shutdown　ボタン","info":"","x":185.68145751953125,"y":534.9999694824219,"wires":[]},{"id":"821e24bd.e066e8","type":"comment","z":"56387f0a.a981a","name":"動作確認用　ＬＥＤ点滅","info":"","x":157.6814727783203,"y":335.9894714355469,"wires":[]},{"id":"54fcf8d5.a805e8","type":"inject","z":"56387f0a.a981a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117.3411865234375,"y":677.8888626098633,"wires":[["9e1e1361.22f96","22f9798d.684896"]]},{"id":"a127e828.03d738","type":"comment","z":"56387f0a.a981a","name":"192.168.11.22 ","info":"","x":164.34115600585938,"y":826.0000381469727,"wires":[]},{"id":"ceb70f06.ad3ed","type":"inject","z":"56387f0a.a981a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.34115600585938,"y":895.3334045410156,"wires":[["32c38006.422c3"]]},{"id":"32c38006.422c3","type":"exec","z":"56387f0a.a981a","command":"sudo ifconfig","addpay":false,"append":"","useSpawn":"","timer":"","name":"ifconfig","x":292.3411407470703,"y":897.8334045410156,"wires":[["4d8eeff1.9f65d"],["4d8eeff1.9f65d"],["4d8eeff1.9f65d"]]},{"id":"4d8eeff1.9f65d","type":"debug","z":"56387f0a.a981a","name":"","active":true,"console":"false","complete":"false","x":501.34117126464844,"y":906.3334045410156,"wires":[]},{"id":"43ae9251.75ef5c","type":"rpi-gpio in","z":"56387f0a.a981a","name":"pin18-gpio24","pin":"22","intype":"tri","debounce":"200","read":false,"x":78,"y":595.6666898727417,"wires":[["22f9798d.684896","9e1e1361.22f96"]]},{"id":"5e352735.802dc8","type":"rpi-gpio out","z":"56387f0a.a981a","name":"","pin":"40","set":true,"level":"0","out":"out","x":443.8333740234375,"y":357.66666412353516,"wires":[]},{"id":"92f56101.a46ab","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":701.1421508789062,"y":981.4922046661377,"wires":[]},{"id":"30126364.20810c","type":"exec","z":"7420b7d3.a25fa8","command":"sudo python /home/pi/myiot/pwm-pca9685/pwm-pca9685-init.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":551.1421661376953,"y":944.1953449249268,"wires":[["92f56101.a46ab"],["92f56101.a46ab"],["92f56101.a46ab"]]},{"id":"1fb7bb2a.bff625","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.24219512939453,"y":960.492280960083,"wires":[["30126364.20810c"]]},{"id":"87bb2d47.a09b3","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":680.1421813964844,"y":902.4922046661377,"wires":[]},{"id":"9b704d5a.d4999","type":"exec","z":"7420b7d3.a25fa8","command":"sudo python /home/pi/myiot/pwm-pca9685/pwm-pca9685-ch0-1.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":568.1421661376953,"y":860.1953353881836,"wires":[["87bb2d47.a09b3"],["87bb2d47.a09b3"],["87bb2d47.a09b3"]]},{"id":"7951b293.79183c","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"0.5","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.24219512939453,"y":809.4922199249268,"wires":[["9b704d5a.d4999"]]},{"id":"88cb0292.02ace","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"-0.5","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.2421875,"y":919.4923133850098,"wires":[["9b704d5a.d4999"]]},{"id":"1b8ebb85.e89044","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":710.7422256469727,"y":1052.0922694206238,"wires":[]},{"id":"70da2dbf.595964","type":"comment","z":"7420b7d3.a25fa8","name":"風向","info":"","x":151.7500457763672,"y":1131.7187881469727,"wires":[]},{"id":"5bbd8835.9f64d8","type":"function","z":"7420b7d3.a25fa8","name":"context.global.wind_dir_var","func":"//スタート時に初期化、初期値は　\nvar wind_max = context.global.wind_dir_max　|| 0;\nvar wind_min = context.global.wind_dir_min  || 2000;\nvar wind_var = context.global.wind_dir_var || 0;\nvar wind_range = wind_max - wind_min;\n//= parseInt(msg.payload.Sensor.rain);\nvar wind_count =  parseInt(msg.payload);\n//msg.payload = parseInt(wind_max);\n//msg.payload = parseInt(wind_min);\n//　sum ＝ context.global.rain\n// 定義した入力数が来たら、集計処理を行い、msg.payloadを返す\nif (wind_count > wind_max)\n{   // msg.payloadの合計値を算出\n　　wind_max = wind_count;\n    context.global.wind_dir_max = wind_max;\n    //msg.payload = parseInt(wind_max);\n    //return msg;\n}\nif (wind_count < wind_min)\n{   // msg.payloadの合計値を算出\n　　wind_min = wind_count;\n    context.global.wind_dir_min = wind_min;\n    //msg.payload = parseInt(wind_min);\n    //return msg;\n}\nwind_var = wind_count-wind_min;\nwind_var = wind_var / (wind_max - wind_min);\nwind_var = wind_var * 360;\ncontext.global.wind_dir_var = wind_var;\nmsg.payload = parseInt(wind_var);\n\nreturn msg;","outputs":"1","noerr":0,"x":481.8193664550781,"y":1411.0625762939453,"wires":[["73f9ed75.58ffb4"]]},{"id":"73f9ed75.58ffb4","type":"debug","z":"7420b7d3.a25fa8","name":" ","active":false,"console":"false","complete":"payload","x":536.8193664550781,"y":1450.125015258789,"wires":[]},{"id":"26f9e5ec.3298ba","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":188.0485382080078,"y":1205.162498474121,"wires":[[]]},{"id":"8e90ec49.daa25","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":654.0481414794922,"y":1252.971778869629,"wires":[]},{"id":"b4b2e6a1.c915c8","type":"exec","z":"7420b7d3.a25fa8","command":"sudo python /home/pi/myiot/MCP3208-AD/MCP3208-AD-CH5.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"/home/pi/myiot/MCP3208-AD/MCP3208-AD-CH5.py","x":523.0524749755859,"y":1203.6566543579102,"wires":[["8e90ec49.daa25"],["8e90ec49.daa25"],["8e90ec49.daa25"]]},{"id":"f8cda025.42d12","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":194.05267333984375,"y":1451.9644775390625,"wires":[]},{"id":"c430850a.8b64f8","type":"tail","z":"7420b7d3.a25fa8","name":"/tmp/mcp3208-ch5.txt","filetype":"text","split":false,"filename":"/tmp/mcp3208-ch5.txt","x":198.04574584960938,"y":1395.0716400146484,"wires":[["f8cda025.42d12","5bbd8835.9f64d8"]]},{"id":"e452d5d1.750f08","type":"delay","z":"7420b7d3.a25fa8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":167.77304077148438,"y":1309.0763702392578,"wires":[["133ad21f.387a7e"]]},{"id":"133ad21f.387a7e","type":"function","z":"7420b7d3.a25fa8","name":"context.global.wind_dir_var","func":"//context.global.wind_dir_var = wind_var;\nmsg.payload = parseInt(context.global.wind_dir_var);\n","outputs":1,"noerr":0,"x":473.7799835205078,"y":1309.6528091430664,"wires":[["23cd1ee0.677fd2"]]},{"id":"23cd1ee0.677fd2","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":555.7730712890625,"y":1353.718765258789,"wires":[]},{"id":"3a636434.f387fc","type":"inject","z":"7420b7d3.a25fa8","name":"test　クリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183.84246826171875,"y":1357.2777557373047,"wires":[["133ad21f.387a7e"]]},{"id":"19d9440d.bb91cc","type":"comment","z":"7420b7d3.a25fa8","name":"AD 初期起動","info":"","x":187.77305603027344,"y":1169.4964981079102,"wires":[]},{"id":"ec57d40f.4e6bb8","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":153.984375,"y":83.14842796325684,"wires":[[]]},{"id":"102af376.fbcd8d","type":"exec","z":"7420b7d3.a25fa8","command":"sudo python /home/pi/myiot/MCP3208-AD/MCP3208-AD-CH0-2.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":596.9922180175781,"y":60,"wires":[["40c9460e.49d1e8"],["40c9460e.49d1e8"],["40c9460e.49d1e8"]]},{"id":"40c9460e.49d1e8","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":800.9922256469727,"y":146.30470085144043,"wires":[]},{"id":"8937c948.b23248","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":343.9922180175781,"y":222.29688835144043,"wires":[]},{"id":"e9f91483.20cfe8","type":"function","z":"7420b7d3.a25fa8","name":"context.global.wind_dir_var","func":"//スタート時に初期化、初期値は　\nvar wind_max = context.global.wind_dir_max　|| 0.0;\nvar wind_min = context.global.wind_dir_min  || 4096.0;\nvar wind_var = context.global.wind_dir_var || 0.0;\nvar wind_range = wind_max - wind_min;\n//= parseInt(msg.payload.Sensor.rain);\nvar wind_count =  parseInt(msg.payload);\n//msg.payload = parseInt(wind_max);\n//msg.payload = parseInt(wind_min);\n//　sum ＝ context.global.rain\n// 定義した入力数が来たら、集計処理を行い、msg.payloadを返す\nif (wind_count > wind_max)\n{   // msg.payloadの合計値を算出\n　　wind_max = wind_count;\n    context.global.wind_dir_max = wind_max;\n    //msg.payload = parseInt(wind_max);\n    //return msg;\n}\nif (wind_count < wind_min)\n{   // msg.payloadの合計値を算出\n　　wind_min = wind_count;\n    context.global.wind_dir_min = wind_min;\n    //msg.payload = parseInt(wind_min);\n    //return msg;\n}\n//wind_var = wind_count-wind_min;\n//wind_var = wind_var / (wind_max - wind_min);\nwind_var = wind_count;\nwind_var = wind_var /4096.0;\nwind_var = wind_var -0.5;\ncontext.global.wind_dir_var = wind_var;\n\n//msg.payload = parseInt(wind_var);\nif (wind_var < 0.5)\n{   msg.payload = wind_var;\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":632.75,"y":220.71874046325684,"wires":[["5a3b124b.cad36c"]]},{"id":"5a3b124b.cad36c","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":694.9921875,"y":267.29686546325684,"wires":[]},{"id":"6d3d7607.779fa8","type":"function","z":"7420b7d3.a25fa8","name":"context.global.wind_dir_var","func":"//context.global.wind_dir_var = wind_var;\nmsg.payload = parseInt(context.global.wind_dir_var);\n","outputs":1,"noerr":0,"x":360.4818420410156,"y":512.8997707366943,"wires":[["2597be4.36c6442"]]},{"id":"2597be4.36c6442","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":442.4749298095703,"y":556.965726852417,"wires":[]},{"id":"1973d17.183e32f","type":"inject","z":"7420b7d3.a25fa8","name":"test　クリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":264.54432678222656,"y":474.5247402191162,"wires":[["6d3d7607.779fa8"]]},{"id":"14285ff.1a1e8a","type":"debug","z":"7420b7d3.a25fa8","name":"","active":false,"console":"false","complete":"false","x":630.0000228881836,"y":598.7890911102295,"wires":[]},{"id":"2dcd8dae.073432","type":"debug","z":"7420b7d3.a25fa8","name":"","active":true,"console":"false","complete":"false","x":659.9922637939453,"y":644.797025680542,"wires":[]},{"id":"b312a6cd.2480c8","type":"debug","z":"7420b7d3.a25fa8","name":"","active":true,"console":"false","complete":"false","x":646.9843902587891,"y":676.7970275878906,"wires":[]},{"id":"ed194cad.4dd1","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":127.9921875,"y":136.65624046325684,"wires":[[]]},{"id":"3f90edf3.9580d2","type":"file in","z":"7420b7d3.a25fa8","name":"","filename":"/var/tmp/mcp3208-ch0.txt","format":"utf8","x":373.984375,"y":135.69530296325684,"wires":[["e9f91483.20cfe8","5576c766.6353f8"]]},{"id":"6e3eb6bd.ed0128","type":"function","z":"7420b7d3.a25fa8","name":"msg.payload = 0.5;","func":"var wind_count =  parseInt(msg.payload);\nif (wind_count >3500)\n{\n    msg.payload = 0.0;\n    return [null ,msg];\n}\n\nif (wind_count >2500)\n{\n    msg.payload = -0.5;\n    return [msg ,null];\n}\n//if (wind_count >2000)\n//{\n//    msg.payload = 0.0;\n//    return [null ,msg];\n//}\n\nif (wind_count >1000)\n{\n    msg.payload = 0.5;\n    return [msg ,null];\n}\n\nmsg.payload = 0.0;\nreturn [null ,msg];","outputs":"2","noerr":0,"x":299.9922561645508,"y":621.4454612731934,"wires":[["2dcd8dae.073432"],["b312a6cd.2480c8"]]},{"id":"5576c766.6353f8","type":"function","z":"7420b7d3.a25fa8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":118.9921875,"y":496.4609622955322,"wires":[["6e3eb6bd.ed0128"]]},{"id":"b4704621.1584b8","type":"debug","z":"7420b7d3.a25fa8","name":"","active":true,"console":"false","complete":"false","x":628.7421875,"y":759.1953182220459,"wires":[]},{"id":"3f766344.eee8ec","type":"exec","z":"7420b7d3.a25fa8","command":"sudo python /home/pi/myiot/pwm-pca9685/pwm-pca9685-ch0-4095.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":608.75,"y":718.2186794281006,"wires":[[],[],[]]},{"id":"2baf6ac8.647ec6","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"4095","payloadType":"str","repeat":"","crontab":"","once":false,"x":88.99218368530273,"y":547.6562757492065,"wires":[["3f766344.eee8ec"]]},{"id":"9a85b44.553aa48","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"170","payloadType":"str","repeat":"","crontab":"","once":false,"x":63.242183685302734,"y":622.6641502380371,"wires":[["3f766344.eee8ec"]]},{"id":"e0cdc605.c03848","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":58.999996185302734,"y":730.6562805175781,"wires":[["3f766344.eee8ec"]]},{"id":"502aa718.9cb468","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"160","payloadType":"str","repeat":"","crontab":"","once":false,"x":63.984371185302734,"y":686.6484966278076,"wires":[["3f766344.eee8ec"]]},{"id":"7655f62f.121278","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"150","payloadType":"str","repeat":"","crontab":"","once":false,"x":68,"y":709.6484680175781,"wires":[["3f766344.eee8ec"]]},{"id":"95f3db22.55dca8","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"162","payloadType":"str","repeat":"","crontab":"","once":false,"x":62.984371185302734,"y":656.6641206741333,"wires":[["3f766344.eee8ec"]]},{"id":"cd26b2a0.ba2e7","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.9921875,"y":871.6562404632568,"wires":[["9b704d5a.d4999"]]},{"id":"fe02a3a9.09e73","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"0.1","payloadType":"str","repeat":"","crontab":"","once":false,"x":74.9921875,"y":845.6640529632568,"wires":[["9b704d5a.d4999"]]},{"id":"14ed45a.45753ba","type":"inject","z":"7420b7d3.a25fa8","name":"","topic":"","payload":"-0.1","payloadType":"str","repeat":"","crontab":"","once":false,"x":55,"y":903.6484279632568,"wires":[["9b704d5a.d4999"]]},{"id":"ecbc7022.676f7","type":"inject","z":"db756c4a.aee6c","name":"","topic":"","payload":"本日は晴天なり、いらっしゃいませ","payloadType":"str","repeat":"","crontab":"","once":false,"x":229.00001525878906,"y":576.0001831054688,"wires":[["4b0352af.03014c"]]},{"id":"4b0352af.03014c","type":"exec","z":"db756c4a.aee6c","command":"sudo python /home/pi/myiot/90-aquestalkpi/free-talk1.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"/home/pi/myiot/90-aquestalkpi/free-talk1.py","x":540.00390625,"y":413.08617401123047,"wires":[["33e1e56f.4cc87a"],["33e1e56f.4cc87a"],["33e1e56f.4cc87a"]]},{"id":"33e1e56f.4cc87a","type":"debug","z":"db756c4a.aee6c","name":"","active":true,"console":"false","complete":"false","x":609.0000686645508,"y":482.0511302947998,"wires":[]},{"id":"b346d18f.96758","type":"inject","z":"db756c4a.aee6c","name":"15：00起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 15 * * 1,2,3,4,5","once":false,"x":166.99610900878906,"y":833.9845581054688,"wires":[["ff1b9cf8.fa8af"]]},{"id":"ff1b9cf8.fa8af","type":"function","z":"db756c4a.aee6c","name":"休憩時間です","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '休憩時間です'; \n    return d;\n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":344.00782775878906,"y":834.9064331054688,"wires":[["65ee8dc0.d85ed4","4b0352af.03014c"]]},{"id":"65ee8dc0.d85ed4","type":"debug","z":"db756c4a.aee6c","name":"","active":true,"console":"false","complete":"false","x":362.00782775878906,"y":870.0548706054688,"wires":[]},{"id":"7af75c34.c684e4","type":"inject","z":"db756c4a.aee6c","name":"12：00起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * 1,2,3,4,5","once":false,"x":164.38673400878906,"y":726.5431518554688,"wires":[["d5798484.779e68"]]},{"id":"d5798484.779e68","type":"function","z":"db756c4a.aee6c","name":"休憩時間です","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '休憩時間です'; \n    return d;\n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":341.39845275878906,"y":727.4650268554688,"wires":[["c28ce1d7.ee9a","4b0352af.03014c"]]},{"id":"c28ce1d7.ee9a","type":"debug","z":"db756c4a.aee6c","name":"","active":true,"console":"false","complete":"false","x":359.39845275878906,"y":762.6134643554688,"wires":[]},{"id":"69066705.0f25f8","type":"inject","z":"db756c4a.aee6c","name":"10：00起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * 1,2,3,4,5","once":false,"x":168.38673400878906,"y":634.5431518554688,"wires":[["aedb0416.593aa8"]]},{"id":"aedb0416.593aa8","type":"function","z":"db756c4a.aee6c","name":"休憩時間です","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '休憩時間です'; \n    return d;\n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":340.39845275878906,"y":636.4650268554688,"wires":[["6ca1e071.69ed","4b0352af.03014c"]]},{"id":"6ca1e071.69ed","type":"debug","z":"db756c4a.aee6c","name":"","active":true,"console":"false","complete":"false","x":358.39845275878906,"y":671.6134643554688,"wires":[]},{"id":"228b8ef3.d9f3b2","type":"comment","z":"db756c4a.aee6c","name":"中小企業向けにしゃべる時計を作ってみました、時間、しゃべる内容を簡単に変更できます。","info":"","x":364.01173400878906,"y":533.5939331054688,"wires":[]},{"id":"8c68fab3.bd1f68","type":"inject","z":"db756c4a.aee6c","name":"マニュアル起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146.38672637939453,"y":980.543137550354,"wires":[["f21ca32e.a751f","b3862baa.5a0748"]]},{"id":"f21ca32e.a751f","type":"function","z":"db756c4a.aee6c","name":"Ａｐｐｌｅｐｉ　１","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '２０１６年７月９日発売のトランジスタ技術８月号'; \n    d += '（ＣＱ出版社）に付録されている'; \n    d += 'ＩＯＴ実験コンピュータ製作用プリント基板の'; \n    d += '組み立て済み製品です。'; \n    return d;\n    \n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":407.3984603881836,"y":997.4650230407715,"wires":[["4b0352af.03014c"]]},{"id":"b3862baa.5a0748","type":"delay","z":"db756c4a.aee6c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":318.0000228881836,"y":1058.6173648834229,"wires":[["21bd4ec4.44fc82"]]},{"id":"21bd4ec4.44fc82","type":"function","z":"db756c4a.aee6c","name":"Ａｐｐｌｅｐｉ　2","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '多彩な機能を持つ本製品との記事連動で'; \n    d += 'Ｄ－Ａコンバータ（３２ビット、３８４ｋＨｚ）や'; \n    d += '温度・湿度・気圧センサ、赤外線リモコン用'; \n    d += '（送受信）など多彩な実験を行います'; \n    return d;\n    \n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":409.3867492675781,"y":1106.5431575775146,"wires":[["4b0352af.03014c"]]},{"id":"dc25f8a4.591c58","type":"inject","z":"db756c4a.aee6c","name":"マニュアル起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.38673400878906,"y":1063.5431127548218,"wires":[["b3862baa.5a0748"]]},{"id":"61f45c49.6da9c4","type":"inject","z":"db756c4a.aee6c","name":"マニュアル起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":164.38673400878906,"y":1185.5431518554688,"wires":[["95389f68.c2909"]]},{"id":"95389f68.c2909","type":"function","z":"db756c4a.aee6c","name":"piccaso","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '10月8日発売のトランジスタ技術２０１６年11月号（CQ出版社）に'; \n    d += 'ラズペリーパイをグレードアップするIoT実験用'; \n    d += '複合センサー搭載音声読み上げモジュールPiCCASO製作用'; \n    d += '組み立て済み製品です。'; \n    return d;\n    \n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":476.39845275878906,"y":1189.4650268554688,"wires":[["4b0352af.03014c"]]},{"id":"14dc8dd0.09ea22","type":"inject","z":"db756c4a.aee6c","name":"マニュアル起動","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155.38673400878906,"y":1271.5431518554688,"wires":[["f1628ee2.90108"]]},{"id":"f1628ee2.90108","type":"function","z":"db756c4a.aee6c","name":"サーボ","func":"//var input = msg.payload.split(/\\s+/);\n\nvar editmsg = function () {\n    var d ='';\n    //d += input[0] ;\n    d += '10月8日発売のトランジスタ技術２０１６年11月号（CQ出版社）に'; \n    d += '掲載のラズベリーパイを使用したリモコンカメラ制作の記事との連動企画製品です。'; \n    d += '本製品はPICマイコンを搭載することで高分解なPWM制御が可能となり'; \n    d += 'ラズペリーパイでRCサーボを滑らかに稼働させることが可能です。'; \n    return d;\n    \n};\n\nmsg.payload = editmsg();\n\nreturn msg;","outputs":1,"noerr":0,"x":457.39845275878906,"y":1275.4650268554688,"wires":[["4b0352af.03014c"]]},{"id":"24cfc771.19af98","type":"comment","z":"db756c4a.aee6c","name":"製品紹介を作ってみました","info":"","x":177.99610900878906,"y":942.5978393554688,"wires":[]},{"id":"82d1bced.5d8a2","type":"ui_text_input","z":"db756c4a.aee6c","name":"しゃべる内容入力","label":"しゃべる内容入力","group":"14f48982.3705e6","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":181.78976440429688,"y":1370.6478958129883,"wires":[["4b0352af.03014c","a581317c.58a"]]},{"id":"a581317c.58a","type":"rpi-sensehat out","z":"db756c4a.aee6c","name":"sensehat","x":386.789794921875,"y":1401.7558059692383,"wires":[]},{"id":"d75129f5.c727b8","type":"inject","z":"db756c4a.aee6c","name":"","topic":"","payload":"スタート","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.79261779785156,"y":1336.968879699707,"wires":[["82d1bced.5d8a2"]]},{"id":"590a2980.8f6eb8","type":"sensorTag","z":"9fc8e60e.bd10a8","name":"sensortag1","topic":"sensorTag","uuid":"41-bf-15-3c-0b-92","temperature":false,"humidity":true,"pressure":false,"magnetometer":false,"accelerometer":false,"gyroscope":false,"keys":false,"luxometer":false,"x":257.5078125,"y":85.5234375,"wires":[["eea28632.0d5008","f51818c4.6f8e08","415fd527.bb34fc"]]},{"id":"eea28632.0d5008","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":true,"console":"false","complete":"true","x":466.50157165527344,"y":140.04845523834229,"wires":[]},{"id":"41c1eb7a.8c3bf4","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"false","x":560.8078460693359,"y":228.6359748840332,"wires":[]},{"id":"f51818c4.6f8e08","type":"function","z":"9fc8e60e.bd10a8","name":"temperatureの取り出し","func":"if (msg.topic === 'sensorTag/humidity') {\n msg.payload = msg.payload.temperature;\n return msg;\n} else {\n return null;\n}\n","outputs":1,"noerr":0,"x":316.80785369873047,"y":216.6359748840332,"wires":[["41c1eb7a.8c3bf4"]]},{"id":"415fd527.bb34fc","type":"function","z":"9fc8e60e.bd10a8","name":"humidityの取り出し","func":"if (msg.topic === 'sensorTag/humidity') {\n msg.payload = msg.payload.temperature;\n return msg;\n} else {\n return null;\n}\n","outputs":1,"noerr":0,"x":298.80785369873047,"y":303.635947227478,"wires":[["16c49a79.953a46"]]},{"id":"16c49a79.953a46","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"false","x":556.8078765869141,"y":304.6359672546387,"wires":[]},{"id":"dd1b600f.ca853","type":"function","z":"9fc8e60e.bd10a8","name":"pressureの取り出し","func":"if (msg.topic === 'sensorTag/humidity') {\n msg.payload = msg.payload.pressure;\n return msg;\n} else {\n return null;\n}\n","outputs":1,"noerr":0,"x":319.80786895751953,"y":386.6359672546387,"wires":[["dc19af4d.fa835"]]},{"id":"dc19af4d.fa835","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"false","x":567.8078918457031,"y":387.6359872817993,"wires":[]},{"id":"af57e29f.dedbd","type":"rpi-sensehat in","z":"9fc8e60e.bd10a8","name":"","motion":true,"env":true,"stick":true,"x":219.49535369873047,"y":584.4234428405762,"wires":[["d78631ea.625c6","a45a92f6.c70a4","56693cf4.5a1264","9221b32.79a4a5"]]},{"id":"d78631ea.625c6","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"true","x":425.5078353881836,"y":577.0546989440918,"wires":[]},{"id":"a45a92f6.c70a4","type":"function","z":"9fc8e60e.bd10a8","name":"acceleration.xの取り出し","func":"if (msg.topic === 'motion') {\n msg.payload = msg.payload.acceleration.x;\n return msg;\n} else {\n return null;\n}\n","outputs":1,"noerr":0,"x":385.8078384399414,"y":737.6358880996704,"wires":[["7c253c93.9c7dd4"]]},{"id":"7c253c93.9c7dd4","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"payload","x":607.5015563964844,"y":766.0546140670776,"wires":[]},{"id":"56693cf4.5a1264","type":"function","z":"9fc8e60e.bd10a8","name":"acceleration.yの取り出し","func":"if (msg.topic === 'motion') {\n msg.payload = msg.payload.acceleration.y;\n return msg;\n} else {\n return null;\n}\n","outputs":1,"noerr":0,"x":377.80786895751953,"y":842.6359367370605,"wires":[["6893a19.73a856"]]},{"id":"6893a19.73a856","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"payload","x":599.5015869140625,"y":871.0546627044678,"wires":[]},{"id":"9221b32.79a4a5","type":"function","z":"9fc8e60e.bd10a8","name":"acceleration.zの取り出し","func":"if (msg.topic === 'motion') {\n msg.payload = msg.payload.acceleration.z;\n return msg;\n} else {\n return null;\n}\n","outputs":1,"noerr":0,"x":381.80786895751953,"y":946.6359367370605,"wires":[["914c9d21.fe272"]]},{"id":"914c9d21.fe272","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"payload","x":603.5015869140625,"y":975.0546627044678,"wires":[]},{"id":"9c22b5ce.31d928","type":"function","z":"9fc8e60e.bd10a8","name":"acceleration.xの取り出し","func":"if (msg.topic === 'motion') {\n msg.payload = msg.payload.acceleration.x;\n return msg1;\n} else {\n return null;\n}\n","outputs":"2","noerr":0,"x":279.8911819458008,"y":1089.706127166748,"wires":[["f2ddffac.c67a5"],[]]},{"id":"f2ddffac.c67a5","type":"debug","z":"9fc8e60e.bd10a8","name":"","active":false,"console":"false","complete":"payload","x":501.58489990234375,"y":1118.1248531341553,"wires":[]},{"id":"4376deba.4118a","type":"mqtt in","z":"5e1ada08.f16a74","name":"In-ch6","topic":"In-ch6","qos":"2","broker":"678d83f4.129f7c","x":144.5078125,"y":119.5234375,"wires":[["5aecd3d0.e7de7c","5107d089.b1c1f"]]},{"id":"5aecd3d0.e7de7c","type":"debug","z":"5e1ada08.f16a74","name":"","active":false,"console":"false","complete":"false","x":161.50433349609375,"y":164.03732299804688,"wires":[]},{"id":"6ee63828.4cc2d8","type":"mqtt in","z":"5e1ada08.f16a74","name":"In-ch7","topic":"In-ch7","qos":"2","broker":"678d83f4.129f7c","x":148.56335830688477,"y":246.6067600250244,"wires":[["59024c86.12d8f4","92514490.bfbe98"]]},{"id":"59024c86.12d8f4","type":"debug","z":"5e1ada08.f16a74","name":"","active":false,"console":"false","complete":"false","x":156.55987548828125,"y":297.1206359863281,"wires":[]},{"id":"69462f07.dabf4","type":"ui_chart","z":"5e1ada08.f16a74","name":"","group":"ff8c23eb.314d5","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":603.5078010559082,"y":113.02344608306885,"wires":[[],[]]},{"id":"50cfbd86.acce14","type":"ui_chart","z":"5e1ada08.f16a74","name":"","group":"ff8c23eb.314d5","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":605.5043144226074,"y":244.0234375,"wires":[[],[]]},{"id":"8c111d3f.05b95","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151.50433349609375,"y":49.67967224121094,"wires":[["1a2ad83e.3e2708"]]},{"id":"1a2ad83e.3e2708","type":"exec","z":"5e1ada08.f16a74","command":"sudo python3 /home/pi/myiot/30-MCP3208-AD/MCP3208-AD-pirobo.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"/home/pi/myiot/30-MCP3208-AD/MCP3208-AD-pirobo.py","x":534.5078125,"y":51.033843994140625,"wires":[[],[],[]]},{"id":"5107d089.b1c1f","type":"delay","z":"5e1ada08.f16a74","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":399.5078125,"y":179.6102294921875,"wires":[["69462f07.dabf4"]]},{"id":"92514490.bfbe98","type":"delay","z":"5e1ada08.f16a74","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":411.5043640136719,"y":308.62066650390625,"wires":[["50cfbd86.acce14"]]},{"id":"1df4383f.99f178","type":"mqtt out","z":"5e1ada08.f16a74","name":"Out-ch0","topic":"Out-ch0","qos":"2","retain":"","broker":"678d83f4.129f7c","x":505.4974250793457,"y":422.457483291626,"wires":[]},{"id":"35e00b38.c1b584","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"-0.5","payloadType":"num","repeat":"","crontab":"","once":false,"x":168.5008544921875,"y":452.68316650390625,"wires":[["1df4383f.99f178"]]},{"id":"8276115a.807ba","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":148.5008544921875,"y":415.6866455078125,"wires":[["1df4383f.99f178"]]},{"id":"36cf521f.d049ee","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"ch0:0.5","payloadType":"str","repeat":"","crontab":"","once":false,"x":132.49392700195312,"y":380.6866455078125,"wires":[["1df4383f.99f178"]]},{"id":"122d4c38.4854f4","type":"mqtt out","z":"5e1ada08.f16a74","name":"Out-ch1","topic":"Out-ch1","qos":"2","retain":"","broker":"678d83f4.129f7c","x":505.5633316040039,"y":557.6067314147949,"wires":[]},{"id":"4ea01ed5.e2e36","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"-0.5","payloadType":"num","repeat":"","crontab":"","once":false,"x":170.56675720214844,"y":611.8324279785156,"wires":[["122d4c38.4854f4"]]},{"id":"ceb9f707.6c6408","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150.56675720214844,"y":574.8359069824219,"wires":[["122d4c38.4854f4"]]},{"id":"4253a16d.bc65b","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"","once":false,"x":134.55982971191406,"y":539.8359069824219,"wires":[["122d4c38.4854f4"]]},{"id":"4982212d.637f2","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":149.4974136352539,"y":764.6797294616699,"wires":[[]]},{"id":"e0fd3b14.ace3a8","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"4095","payloadType":"num","repeat":"","crontab":"","once":false,"x":155.49740600585938,"y":695.6763324737549,"wires":[[]]},{"id":"426f4d8d.0a31c4","type":"inject","z":"5e1ada08.f16a74","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"x":149.49739456176758,"y":729.6763229370117,"wires":[[]]},{"id":"83a932cf.ef864","type":"ui_numeric","z":"5e1ada08.f16a74","name":"","label":"numeric","group":"ff8c23eb.314d5","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"4096","step":1,"x":215.50434112548828,"y":817.783896446228,"wires":[["d065daf9.c52e18","122d4c38.4854f4"]]},{"id":"d1dcf8aa.fa2908","type":"ui_button","z":"5e1ada08.f16a74","name":"","group":"ff8c23eb.314d5","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"300","payloadType":"num","topic":"","x":76.66752624511719,"y":825.9541063308716,"wires":[["83a932cf.ef864","8a6ca27.786546"]]},{"id":"d065daf9.c52e18","type":"debug","z":"5e1ada08.f16a74","name":"","active":true,"console":"false","complete":"false","x":467.5009078979492,"y":817.3708209991455,"wires":[]},{"id":"8a6ca27.786546","type":"debug","z":"5e1ada08.f16a74","name":"","active":true,"console":"false","complete":"false","x":138.50782012939453,"y":874.3776512145996,"wires":[]},{"id":"23c96e37.9eb9b2","type":"ui_text_input","z":"db756c4a.aee6c","name":"","label":"","group":"14f48982.3705e6","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":376.82643127441406,"y":213.50052452087402,"wires":[["5d045ea.65f7ea","9f8dd9c7.03f848"]]},{"id":"2f608c3.bfec574","type":"mqtt in","z":"db756c4a.aee6c","name":"話し言葉（message）","topic":"message","qos":"2","broker":"678d83f4.129f7c","x":165.8368148803711,"y":323.79519271850586,"wires":[["1387ffac.fa23e"]]},{"id":"1387ffac.fa23e","type":"debug","z":"db756c4a.aee6c","name":"","active":true,"console":"false","complete":"false","x":148.8333511352539,"y":392.3333559036255,"wires":[]},{"id":"5d045ea.65f7ea","type":"mqtt out","z":"db756c4a.aee6c","name":"話し言葉（message）","topic":"message","qos":"","retain":"","broker":"678d83f4.129f7c","x":633.8367881774902,"y":268.73611879348755,"wires":[]},{"id":"78d2ceee.db029","type":"inject","z":"db756c4a.aee6c","name":"","topic":"","payload":"本日は晴天なり、いらっしゃいませ","payloadType":"str","repeat":"","crontab":"","once":false,"x":196.8958282470703,"y":168.88888549804688,"wires":[["23c96e37.9eb9b2"]]},{"id":"9f8dd9c7.03f848","type":"debug","z":"db756c4a.aee6c","name":"","active":true,"console":"false","complete":"false","x":386.8333282470703,"y":260.32293701171875,"wires":[]}]
